# Terraform files
terraform/terraform.tfvars
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/terraform.tfstate*
terraform/.terraform.tfstate.lock.info

# Configurations sensibles
config/ids.json

# Environnements virtuels
venv/